@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Underdog-Regular;
    src: url(../fonts/Underdog-Regular.ttf)
}
body {
    background-color: #f8f8f8;
}

p {
    font-family: OpenSans-Regular, sans-serif;
}

#logo {
    width: 100px;
    height: auto;
}


footer p {
    font-size: 14px;
}

.menu {
    color: darkgreen;
    font-family: 'Underdog-Regular', serif;
    font-size: 20px;
    font-style: normal;
}

.menu li {
    list-style-type: none;
}

.menu a {
    color: darkgreen;
    text-decoration: none;
}

.menu a:visited {
    color: darkgreen;
}

.menu a:hover {
    color: lightgreen;
}

#name-of-shop {
    color: darkgreen;
    font-family: 'Underdog-Regular', serif;
    font-size: 36px;
    text-align: center;
    margin: 10px 0;
}

.description h1, .description h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.description img {
    border: 2px solid #00444a;
}

.short-description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.in-detail {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.in-detail li {
    list-style-image: url(../images/tree_icon_small.jpg);
}

input[placeholder] {
    display: block;
    width: 200px;
    height: 20px;
    color: darkgreen;
}

input[type="submit"] {
    width: 100px;
    height: 25px;
}

.adress {
    list-style-type: square;
}

input[type="email"]:focus {
    color: lightgreen;
    background-color: #484343;
}

input[type="text"]:focus {
    text-transform: capitalize;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

.description p:first-letter {
    color: red;
    font-family: 'Underdog-Regular', serif;
    font-size: large;
    font-weight: 700;
}

tr:first-child td {
    height: 40px;
    font-weight: 700;
    color: darkgreen;
}

.description img:hover {
    border: hidden;
    margin: 2px;
}